@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.homepage {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;

}

.logo {
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-buttons button {
    /* margin: 0 10px; */
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent ;
    font-size: 20px;
    background-color: #2f2d5d;
}

.nav-buttons button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.description {
    max-width: 500px;
}

.description h2 {
    font-size: 3.9em;
    font-weight: lighter;
    margin-bottom: 20px;
    font-family: "Comfortaa";
    color:#2f2e58

}

.description p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color:#4c4a81
}

.description button {
    padding: 10px 20px;
    background-color: #fafffb;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #f7f7f9, 0 0 10px #ededf0, 0 0 10px #f9f9fa, 0 0 10px #efeff3;
    border: 2px solid #6f6da6;
}

#g{
    background: none;
    clip-path: circle(50%);
    margin-top: 80px;
    
}
/* .description button:hover {
    
} */

.gif img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}